.mainCont
{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  & table {
      color: #FFFFFF;
      width: 100%;
      height: 100%;
      & .mat-slider {
          width: 96%;
      }
  }
  & .leftCont {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #FFFFFF;
      & input {
          color: #FFFFFF;
      }
  }
}


