<div class="mainCont">
  <table>
    <tr>
      <!-- angle control -->
      <td rowspan="7">
        <div class="leftCont">
          <span>Shadow Color</span>
          <div (click)="openColorDialog()" [style.background-color]="colorValue" style="height:50px;width:50px;border: 1px solid #fff">
          </div>
          <span>Angle</span>
          <dial></dial>
        </div>  
      </td>
    </tr>
    <tr>
      <td>Distance</td>
      <td>{{ distValue }}</td>
    </tr>
    <tr>
      <!-- distance control -->
      <td colspan="2"><mat-slider [(ngModel)]="distValue" [max]="distMax" [min]="distMin" thumbLabel=true (change)="propChange()"></mat-slider></td>
    </tr>
    <tr>
      <td>Blur</td>
      <td>{{ blurValue }}</td>
    </tr>
    <tr>
      <!-- blur control -->
      <td colspan="2"><mat-slider [(ngModel)]="blurValue" [max]="blurMax" [min]="blurMin" thumbLabel=true (change)="propChange()"></mat-slider></td>
    </tr>
    <tr>
      <td>Spread</td>
      <td>{{ spreadValue }}</td>
    </tr>
    <tr>
      <!-- spread control -->  
      <td colspan="2"><mat-slider [(ngModel)]="spreadValue" [max]="spreadMax" [min]="spreadMin" thumbLabel=true (change)="propChange()"></mat-slider></td>
    </tr>
  </table>
</div>