/*!
* round-slider v{VERSION}
*
* @website http://roundsliderui.com/
* @copyright (c) 2015-{YEAR} Soundar
* @license MIT
*/

.rs-ie, .rs-edge, .rs-handle {
    touch-action: none;
}
.rs-control { position: relative; outline: 0 none; }
.rs-container { position: relative; }
.rs-control *, .rs-control *:before, .rs-control *:after {
    box-sizing: border-box;
}
.rs-animation .rs-transition {
    transition: all 0.5s linear 0s;
}
.rs-bar {
    transform-origin: 100% 50%;
}
.rs-control .rs-split .rs-path,
.rs-control .rs-overlay1,
.rs-control .rs-overlay2 {
    transform-origin: 50% 100%;
}
.rs-control .rs-overlay {
    transform-origin: 100% 100%;
}
.rs-rounded .rs-seperator, .rs-split .rs-path {
    background-clip: padding-box;
}
.rs-disabled {
    opacity: 0.35;
}
.rs-inner-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
}
.rs-control .rs-quarter div.rs-block { height: 200%; width: 200%; }
.rs-control .rs-half.rs-top div.rs-block,
.rs-control .rs-half.rs-bottom div.rs-block { height: 200%; width: 100%; }
.rs-control .rs-half.rs-left div.rs-block,
.rs-control .rs-half.rs-right div.rs-block { height: 100%; width: 200%; }
.rs-control .rs-bottom .rs-block { top: auto; bottom: 0; }
.rs-control .rs-right .rs-block { right: 0; }
.rs-block.rs-outer { border-radius: 1000px; }
.rs-block {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 3;
}
.rs-block .rs-inner {
    border-radius: 1000px;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.rs-overlay { width: 50%; }
.rs-overlay1, .rs-overlay2 { width: 100%; }
.rs-overlay, .rs-overlay1, .rs-overlay2 {
    position: absolute;
    background-color: white;
    z-index: 3;
    top: 0;
    height: 50%;
}
.rs-bar {
    display: block;
    position: absolute;
    bottom: 0;
    height: 0;
    z-index: 10;
}
.rs-bar.rs-rounded {
    z-index: 5;
}
.rs-bar .rs-seperator {
    height: 0px;
    display: block;
    float: left;
}
.rs-bar:not(.rs-rounded) .rs-seperator {
    border-left: none;
    border-right: none;
}
.rs-bar.rs-start  .rs-seperator { border-top: none; }
.rs-bar.rs-end  .rs-seperator { border-bottom: none; }
.rs-bar.rs-start.rs-rounded .rs-seperator { border-radius: 0 0 1000px 1000px; }
.rs-bar.rs-end.rs-rounded .rs-seperator { border-radius: 1000px 1000px 0 0; }
.rs-full .rs-bar, .rs-half .rs-bar { width: 50%; }
.rs-half.rs-left .rs-bar, .rs-half.rs-right .rs-bar, .rs-quarter .rs-bar { width: 100%; }
.rs-full .rs-bar, .rs-half.rs-left .rs-bar, .rs-half.rs-right .rs-bar { top: 50%; }
.rs-bottom .rs-bar { top: 0; }
.rs-half.rs-right .rs-bar, .rs-quarter.rs-right .rs-bar { right: 100%; }

.rs-classic-mode .rs-path { display: block; height: 100%; width: 100%; }
.rs-split .rs-path {
    border-radius: 1000px 1000px 0 0;
    overflow: hidden;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 2;
}

/*** SVG mode related styles ***/
.rs-control .rs-svg-container {
    display: block;
    position: absolute;
    top: 0;
}
.rs-control .rs-bottom .rs-svg-container {
    top: auto;
    bottom: 0;
}
.rs-control .rs-right .rs-svg-container {
    right: 0;
}

/*** tooltip styles ***/
.rs-tooltip {
    position: absolute;
    cursor: default;
    border: 1px solid transparent;
    z-index: 10;
}
.rs-full .rs-tooltip { top: 50%; left: 50%; }
.rs-bottom .rs-tooltip { top: 0; } 
.rs-top .rs-tooltip { bottom: 0; }
.rs-right .rs-tooltip { left: 0; }
.rs-left .rs-tooltip { right: 0; }
.rs-half.rs-top .rs-tooltip, .rs-half.rs-bottom .rs-tooltip { left: 50%; }
.rs-half.rs-left .rs-tooltip, .rs-half.rs-right .rs-tooltip { top: 50%; }
.rs-tooltip .rs-input { outline: 0 none; border: none; background: transparent; }
.rs-tooltip-text { font-family: verdana; font-size: 13px; border-radius: 7px; text-align: center; color: inherit; }
.rs-tooltip.rs-editable { padding: 5px 8px; }
.rs-tooltip.rs-hover,
.rs-tooltip.rs-editable:hover { border-color: #AAAAAA; cursor: pointer; }
.rs-control.rs-dragging .rs-tooltip.rs-editable:hover,
.rs-container.rs-readonly .rs-tooltip.rs-editable:hover { border-color: transparent; cursor: default; }

/*** Fix for tooltip positioning when element in hidden state ***/
/*** maybe in future we can consider this as the default way ***/
.rs-tooltip.rs-center { margin: 0px !important; }
.rs-half.rs-top .rs-tooltip.rs-center,
.rs-half.rs-bottom .rs-tooltip.rs-center {
    transform: translate(-50%, 0px);
}
.rs-half.rs-left .rs-tooltip.rs-center,
.rs-half.rs-right .rs-tooltip.rs-center {
    transform: translate(0px, -50%);
}
.rs-full .rs-tooltip.rs-center {
    transform: translate(-50%, -50%);
}
.rs-tooltip.rs-reset { margin: 0px !important; top: 0px !important; left: 0px !important; }

/*** handle types ***/
.rs-handle {
    cursor: move;
    border-radius: 1000px; outline: 0 none; float: left; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.rs-control.rs-dragging .rs-handle,
.rs-container.rs-readonly .rs-handle { cursor: default; }

.rs-handle.rs-handle-square { border-radius: 0px; }
.rs-handle-dot-inner {
    border-radius: 1000px;
    padding: 20%;
}

/*** theming - colors ***/
.rs-seperator { border: 1px solid #AAAAAA; }
.rs-border { border: 1px solid #AAAAAA; }
.rs-path-color { background-color: #FFFFFF; }
.rs-range-color { background-color: #54BBE0; }
.rs-bg-color { background-color: #FFFFFF; }

.rs-handle { background-color: #838383; }
.rs-handle-dot { background-color: #fff; border: 1px solid #838383; }
.rs-handle-dot-inner { background-color: #838383; }

/*** SVG mode - theming - colors ***/
.rs-path-inherited .rs-path {
    opacity: 0.25;
}