<div class="topContainer">
    <!--split frame main-->  
    <as-split direction="horizontal" unit="percent" [gutterSize]="5" [useTransition]="true">
      <!--frame for elements-->  
      <as-split-area class="topLftSide" *ngIf="templateType == 'E'" [size]="70">
        <props></props> 
      </as-split-area>
      <as-split-area class="topRgtSide" *ngIf="templateType == 'E'" [size]="30">
        <search></search>
      </as-split-area>

      <!--frame for generators-->  
      <as-split-area class="topLftSide" *ngIf="templateType == 'G'" [size]="50">
        <generators></generators> 
      </as-split-area>
      <as-split-area class="topRgtSide" *ngIf="templateType == 'G'" [size]="50">
        <div class="ctrlBar">
          <span (click)="setComponent('props')">
            <mat-icon class="baseIcon material-icons-outlined" matTooltip="Property edit">list</mat-icon>
          </span>
          <span (click)="setComponent('search')">
            <mat-icon class="baseIcon material-icons-outlined" matTooltip="Property search">search</mat-icon>
          </span>
        </div>
        <props *ngIf="showComponent == 'props'"></props> 
        <search *ngIf="showComponent == 'search'"></search>
      </as-split-area>

    </as-split>
  </div>
 