.topContainer
{
  height: 100%;
  background-color: #2D3642;
  overflow:hidden;
}

.topLftSide {
  overflow:hidden;
}
.topRgtSide {
  overflow:hidden;
}

.ctrlBar
{
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: flex-end;
}