

  <div class="dialogHdr" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Color Select</div>
  <div mat-dialog-content>
    <color-sketch color="#fff" (onChangeComplete)="changeComplete($event)"></color-sketch>
  </div>

<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>-->
