
.mainCont {
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectHdr {
  height: 5%;
  min-height: 32px;
  width: inherit;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #57606C;
  padding-left: 15px;
}

.sectCntCompat {
  height: 20%;
  min-height: 20%;
  width: 100%;
  & .valHold {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sectCntDescr {
  height: 32%;
  min-height: 32%;
  width: 100%;
}

.sectCntOpt {
  height: 33%;
  min-height: 33%;
  width: 100%;
}

.content {
  color: #FFFFFF;
  height:88%;
  width:98%;
  padding: 10px;
  overflow-y:scroll;
}

img {
  height: 25px;
  width: 25px;
}