
<div class="mainCont">

<div class="sectHdr">Compatibility</div>  
  <div class="sectCntCompat">
  <div class="content">
    <table>
      <tr>
        <td><mat-icon *ngIf="selectedProp?.compat" class="baseIcon material-icons-outlined">desktop_windows</mat-icon></td>
        <td *ngFor="let compat of selectedProp?.compat"> 
          <div class="valHold">
            <img src="assets/{{ compat.prop }}"/>
            {{ compat.val }}
          </div>
        </td>
      </tr>
    </table>
    <br>
    <table>  
      <tr>
        <td><mat-icon *ngIf="selectedProp?.compat2"  class="baseIcon material-icons-outlined">smartphone</mat-icon></td>
        <td *ngFor="let compat2 of selectedProp?.compat2">
          <div class="valHold">
            <img src="assets/{{ compat2.prop }}"/>
            {{ compat2.val }}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="sectHdr">Description</div>
  <div class="sectCntDescr">
  <div class="content">
    {{ selectedProp?.descr }}
    <br>
    Example: {{ selectedProp?.ex }}
  </div>
</div>

<div class="sectHdr">Options</div>
  <div class="sectCntOpt">
  <div class="content">
    {{ selectedProp?.options }}
  </div>
</div>

</div>