.matFormField 
{
  width: 100%;
  & .searchIco 
    {
      font-size: 18px;
      color: #FFFFFF;
    }
 & .clearIco 
   {
    color: #FFFFFF;
  }
}

.mat-input-element 
{ 
  color: #FFFFFF;
  caret-color: #FFFFFF;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused 
  .mat-form-field-outline-thick
{ 
  color: #2461C5;
}
::ng-deep .mat-form-field-flex
{
    background-color: #454545;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper
{
  margin: 6px !important;
  padding-bottom: 5px;
}

.listContainer
{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  & mat-list {
    padding: 0px 15px 80px 15px;
  }
  & mat-list-item {
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  & mat-list-item:hover {
    background-color: #5D6A7A;
  }
}

