
<mat-form-field class="matFormField" appearance="outline">
  <mat-icon matPrefix class="searchIco">search &nbsp;&nbsp;</mat-icon>
  <input matInput type="text" placeholder="Property Search" [(ngModel)]="searchText" autocomplete="off">
 <button mat-button class="clearIco" *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchBox()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>


<div class="listContainer">
 <mat-list>
    <mat-list-item  *ngFor="let opt of options | appFilter:searchText"
      appHighlight [searchedWord]="searchText" [content]="opt" (click)="propertyClick(opt)"  
      [classToApply]="'font-weight-bold'">{{ opt }}
    </mat-list-item>
  </mat-list>
</div>

