
<div mat-dialog-content>
    <mat-label>Enter Custom Template Name</mat-label>
    <br>
    <span>{{ errMessage }}</span>
    <input matInput placeholder="name" [(ngModel)]="data"/>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>-->
  <button mat-button (click)="validateEntry()" cdkFocusInitial>Ok</button>
</div>
