<mat-accordion>
  <!--generators panel-->  
  <mat-expansion-panel class="sideBarExpPanel" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="hdrTitle">
          <mat-icon class="baseIcon material-icons-outlined genIco">folder</mat-icon> 
          <span>Generators</span>
        </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let gn of generatorsData" id="{{ gn.id }}" class="expContent" (click)="element_OnClick('G',gn.id)">
      <mat-icon class="baseIcon material-icons-outlined">bolt</mat-icon>
      {{ gn.display }}
    </div>
  </mat-expansion-panel>
  <!--elements panel-->  
  <mat-expansion-panel class="sideBarExpPanel"  hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="hdrTitle">
          <mat-icon class="baseIcon material-icons-outlined elIco">folder</mat-icon> 
          <span>Elements</span>
      </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let el of elementsData" id="{{ el.id }}" class="expContent" (click)="element_OnClick('E',el.id)">
      <mat-icon class="baseIcon material-icons-outlined">code</mat-icon>
      {{ el.display }}
    </div>   
  </mat-expansion-panel>
    <!--My Custom-->  
    <mat-expansion-panel class="sideBarExpPanel"  hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="hdrTitle" (click)="updateList()">
            <mat-icon class="baseIcon material-icons-outlined customIco">folder</mat-icon> 
            <span>My Custom</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let mc of myCustomData" class="expContent">
        <mat-icon class="baseIcon material-icons-outlined">mode_edit</mat-icon>
        {{ mc.name }}
      </div>  
    </mat-expansion-panel>
</mat-accordion>
