.sideBarExpPanel
{
  background-color: transparent;
  box-shadow: none;
  & .mat-expansion-panel-header {
    height: 35px;
  }
}

.mat-expansion-panel-spacing {  margin: 0; }

::ng-deep  .sideBarExpPanel .mat-expansion-panel-body {
    background-color: #5B6776;
}

.hdrTitle
{
    display: flex;
    align-items: center;
    color: #E4E7EA;
    font-size: 17px;
    white-space: nowrap;
    & span {
        margin-left: 10px;;
    }
}

.genIco { color: #147AF8; }
.elIco { color: #E8D143; }
.customIco { color: #7BB187; }

.expContent 
{
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  & mat-icon {
    margin-right: 10px;
  }
}