
<div class="dialogHdr">
  <mat-icon class="baseIcon material-icons-outlined warnIco">warning</mat-icon>
  <span md-dialog-title>&nbsp;&nbsp;&nbsp;Delete Property !</span>
</div>
<div class="dialogContent" md-dialog-content>{{confirmMessage}}</div>
<div class="dialogCtrl" md-dialog-actions>
  <button md-button style="color: #fff;background-color: #153961;" (click)="dialogRef.close(true)">Confirm</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button md-button (click)="dialogRef.close(false)">Cancel</button>
</div>
