.dialogHdr
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & .warnIco {
      color: #EA2842;
    }
    & span {
      font-weight: bold;
      font-size: 20px;
    }
}

.dialogContent {
  margin-bottom: 20px;
}

.dialogCtrl {
  display: flex;
  justify-content: flex-end;
  & button {
    cursor: pointer;
  }
}