<html>
<head></head>
<body>
  <!--main split-frame-->
  <as-split class="mainSplit" direction="horizontal" unit="percent" [gutterSize]="5" [useTransition]="true">
    <!--main left-->
    <as-split-area class="mLftSide" [size]="20" [minSize]="5" [maxSize]="30" [order]="1" [visible]="leftPanelStatus">
      <div class="lftSideHdr">  
        <img src="assets/logo1.png"/>
        <side-bar></side-bar>
      </div>  
    </as-split-area>
    <!--main right-->
    <as-split-area class="mRgtSide" [size]="80" [order]="2">
      <!--title bar-->
      <div class="hdrBar">
        <mat-icon (click)="ToggleLeftSide()" class="baseIcon baseIconRot material-icons-outlined lftPanelIco" matTooltip="SideBar hide or show">view_sidebar</mat-icon>
        <span class="breadCrumb">{{ breadCrumb }}</span>
        <mat-icon (click)="ToggleRightSide()"class="baseIcon material-icons-outlined rgtPanelIco" matTooltip="InfoBar hide or show">view_sidebar</mat-icon>
        <img *ngIf="!leftPanelStatus" src="assets/logo2.png"/>
      </div>       

      <!--sub split-frame-->
      <as-split direction="horizontal" unit="percent" [gutterSize]="5" [useTransition]="true">
        <!--sub left-->
        <as-split-area [size]="70" [order]="1" style="overflow:hidden;">
          <div class="midToolBar">    
            <mat-icon class="baseIcon material-icons-outlined"  matTooltip="Save to My Custom" (click)="saveToMyCustom_click()">create_new_folder</mat-icon>                      
            <span class="seperater"> | </span>
            <mat-icon class="baseIcon material-icons-outlined"  matTooltip="Extract HTML">code</mat-icon>                      
            <span class="cssIco" matTooltip="Extract CSS">{{ cssIco }}</span>
            <span class="seperater"> | </span>
            <mat-icon class="baseIcon material-icons-outlined" (click)="collapseAll_click()" matTooltip="Collapse all">open_in_browser</mat-icon>
            <mat-icon class="baseIcon material-icons-outlined baseIconRot" (click)="expandAll_click()" matTooltip="Expand all">open_in_browser</mat-icon>
            
          </div> 

          <as-split unit="percent" [gutterSize]="5" direction="vertical">  
            <!--top-->
            <as-split-area [order]="1" [size]="40">
              <top></top>
            </as-split-area>
            <!--bottom-->
            <as-split-area [order]="2" [size]="60">
              <bottom></bottom>
            </as-split-area>
          </as-split>
        </as-split-area>
        <!--sub right-->
        <as-split-area class="frameSubRt" [size]="30" [order]="2" [visible]="rightPanelStatus"  style="overflow:hidden;">
          <infoBar></infoBar>
        </as-split-area>
      </as-split>
    </as-split-area>

  </as-split> <!--main split-frame-->
</body>
</html>