
//main split-frame
.mainSplit {
  & .mLftSide {
    background-color: #434F5E;
    & .lftSideHdr {
      margin-top: 20px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      & img {
        height:42px;
        width:136px;
        align-self: center;
        margin-bottom: 25px;
      }
    }
  }
  & .mRgtSide {
    overflow: hidden;
    & .hdrBar {
      width: 100%;
      //height: 40px;
      height: 5%;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      //background-color: #525B6A;
      background-color: #2D3642;
      border-bottom: 0.5px solid #929AA5;
      & .lftPanelIco {
        cursor: pointer;
      }
      & .lftPanelIco:hover {
        color: #FFFFFF;
      }
      & .rgtPanelIco {
        margin-left: auto;
        margin-right: 20px;
        cursor: pointer;
      }
      & .rgtPanelIco:hover {
        color: #FFFFFF;
      }
      & .breadCrumb {
        color: #ffffff;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin-left: 50px;
      }
      & img {
        height: 40px;
        width: 36px;
        margin-right: 20px;
      }
    }
  }
}


.midToolBar
{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #2D3642;
  border-bottom: .5px solid #929AA5;
  & mat-icon {
    color: #929AA5;
    cursor: pointer;
    padding-left: 10px;
  }
  & mat-icon:hover {
    color: #FFFFFF;
  }
  & .cssIco {
    color: #868F9A;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  & .cssIco:hover {
    color: #FFFFFF;
  }
  & .seperater {
    color: #868F9A;
    padding-left: 10px;
  }
}

.frameSubRt {
  background-color: #47505C;
}


/*
.mainContainer
{
  width:100%;
  height:100vh;
}

.mainSplitFrame
{
  width: 100%;
  height: 100%;
  & .lftSide {
    background-color: #434F5E;
  }
  & .lftSideHdr {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  & .rgtSide {
    overflow: hidden;
  }
}

.container 
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  // grid-gap: 12px;
  grid-template-areas:"header" "content";
  height:100%;
  & .hdrBar {
    grid-area: header;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #525B6A;
  }
  & img {
      margin-left:15px
  }
  & .lftPanelIco {
    cursor: pointer;
}
  & .rgtPanelIco {
      margin-left: auto;
      margin-right: 20px;
      cursor: pointer;
  }
}

.frameSub 
{
  grid-area: content;
  & .frameSubBottom {
    grid-area: frame;
    margin-top: 1px;
    
  }
  & .frameSubBottom_top {
    //background-color: #1F242A;
    background-color: #1D1E20;
  }
  & .frameSubRt {
    background-color: #47505C;
  }
}

.midContainer 
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45px auto;
  grid-gap: 0px;
  grid-template-areas:"toolbar" "frame";
  width: 100%;
  height: 100%;
  & .midToolBar
  {
    grid-area: toolbar;
    width: 100%;
    height: 45px;
    background-color: #2D3642;
    border-bottom: .5px solid grey;
  }
}

*/

