/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    min-width: 1000px;
    min-height: 500px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Google Material Icons */
.baseIcon 
{
    //color: #7B8698;
    color: #929AA5;
    font-size: 25px;
}

.baseIconRot 
{
    transform: rotate(180deg);
    margin-left: 10px;
}


.as-split-gutter 
{
    //gutter bar color
    background-color: #272F39 !important;
}

// used by highlight directive for property search
.font-weight-bold {
    font-weight: 700 !important;
    color:#F5CE5F;
  }
