
<div class="accordionContainer">
<mat-accordion #accord multi>
  <mat-expansion-panel class="exp" [expanded]="item.open" *ngFor="let item of propStore; index as i" hideToggle>
    <mat-expansion-panel-header (click)="openCloseProp(item.id)" >
        <mat-panel-title>
          <mat-icon *ngIf="item.open" class="baseIcon baseIconRot material-icons-outlined collapseIco" matTooltip="SideBar hide or show">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="!item.open" class="baseIcon baseIconRot material-icons-outlined collapseIco" matTooltip="SideBar hide or show">arrow_drop_up</mat-icon>
          {{ item.class }} {{ openCB }} <div *ngIf="!item.open">{{ closeCB }}</div>   
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div #propLineContainer id="{{ item.id }}">
      <div id="{{ item.id }}" class="propLine" *ngFor="let prop of item.props"> 
        <table>
          <tr>
            <td><mat-checkbox matTooltip="Property hide or show" [checked]="prop.visible" (change)="propChange(item.id)"></mat-checkbox></td>
            <td><input #propName type="text" value="{{ prop.prop }}" (keyup)="updateSearch(propName.value)" (focus)="updateSearch(propName.value)" (change)="propChange(item.id)"/></td>
            <!--<td><input type="text" value="{{ prop.prop }}" (change)="propChange(item.id)"/></td>-->
            <td><span>:</span></td>
            <td><input type="text" value="{{ prop.val }}" (change)="propChange(item.id)"/></td>
            <td><span>;</span></td>
            <td><mat-icon class="baseIcon baseIconRot material-icons-outlined deleteIco" matTooltip="Delete property" (click)="openDeleteDialog(item.id,prop.prop)">remove_circle</mat-icon></td>
          </tr>
        </table>   
      </div>  
    </div>
    <div class="propLineFooter">
      {{ closeCB }}
      <mat-icon (click)="propAdd(item.id)" class="baseIcon baseIconRot material-icons-outlined addIco" matTooltip="Add property">add_circle</mat-icon>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</div>
