

.accordionContainer
{
  width: 100%;
  height: 94%;
  overflow-y: scroll;
}

// angular material expansion panel
.mat-expansion-panel-header { height: 35px; }
.mat-expansion-panel-header-title { color: #ffffff; }
.mat-expansion-panel
{
    color: #ffffff;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.mat-expansion-panel-spacing { margin: 0; }

// material checkbox overrides
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element 
{
  background-color: transparent !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background 
{
  background-color: transparent;
}

::ng-deep mat-checkbox .mat-checkbox-checkmark-path 
{
  stroke: #FFFFFF !important;
}

.collapseIco { font-size: 30px; }
.propLine
{
  & table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
  }
  & td {
      text-align: left;
      padding: 6px;;    
      & input { width: 100%; }
  }
  & .deleteIco {
      font-size: 20px;
      cursor: pointer;
  }
}

.propLineFooter 
{ 
  display: flex; 
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  & .addIco {
    font-size: 20px;
    cursor:pointer;
  }
}
